<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <div class=" hero-unit">
      <h3>Tell Us What You've Been Doing</h3>
      <%= render 'shared/feed' %>
    </div>
    </div>
  </div> 
<% else %>
    <div class=" hero-unit">

      <center>

  <h1>Welcome to the <a href="http://ventureforamerica.org/">Venture for America</a> Campus Ambassador Website!</h1>

  <h2>
    The place for VFA's Campus Ambassadors to connect and collaborate.</a>
  </h2>

  <!-- <%= link_to "Sign up!", signup_path, :class => "btn btn-large btn-primary" %> -->

</center>

 <p></p>




<center>

<%= link_to image_tag("/assets/CAs.jpg", alt: "Campus Ambassadors"), 'http://ventureforamerica.org/jobs/#CampusAmbassador' %>
</center>
<p></p>

<h1>Who We Are and What We Do</h1>

<p>
Venture for America is a 2-year fellowship program that sends young, talented graduates to work for startups in emerging cities (e.g. Detroit, New Orleans, and Las Vegas), with the goal of mobilizing them as entrepreneurs moving forward. 
</p>

<p>
Its mission is threefold:
</p>
<p><b>
To revitalize American cities and communities through entrepreneurship.
</b></p>
<p> <b>
To enable our best and brightest to create new opportunities for themselves and others.
</b></p>
<p><b>
To restore the culture of achievement to include value-creation, risk and reward, and the common good. 
</b></p>
<p>
VFA recruits the best and brightest recent college graduates, provides them with training and mentorship, and places them at partner startups to help grow those organizations. This is an opportunity for students who want to learn how to build companies. 
</p>

<p>
  The Campus Ambassador Program is an integral part of VFA's efforts by helping us generate awareness and interest among prospective applicants. 
</p>

<% end %> 
