<li>
  <%= gravatar_for user, size: 52 %>

  <h3><%= link_to user.name, user %></h3>
  <p><%= user.school %></p>
  <p style="padding-left:55px;"><%= user.email %></p>

  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "| delete", user_path(user), :method=> :delete, :style=>"float:right;" %>
  <% end %>
</li>