<li>
  <%= gravatar_for user, size: 52 %>
  <ul><h3><%= link_to user.name, user %></h3></ul>
  <ul>
  <%= user.school %>
</ul>
<ul>
  <%=user.email%>
</ul>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>